
body{
   
   
    background-image: url(hand-painted-watercolor-abstract-watercolor-background_23-2149001482.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display:flex;
    width:100vh;
    height:100vh;
    justify-content: center;
    align-items: center;

    
}

 

h1{
    font-family: 'Caveat', cursive;
     color: rgb(60, 22, 1);
}
h2{
    font-family: 'Inconsolata', monospace;
}
p{
    font-family: 'Inconsolata', monospace; 
    color:rgb(155, 78, 24);
}

